:root{
    /*primario*/
    --Soft_blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    /*neutral*/
    --Very_dark_blue_MBG: hsl(217, 54%, 11%);/*(mainBG)*/
    --Very_dark_blue_CBG: hsl(216, 50%, 16%);/*(card BG)*/
    --Very_dark_blue_L: hsl(215, 32%, 27%);/*(line)*/
    --White: hsl(0, 0%, 100%);
    /*body*/
    --name_and_stats_Font_size : 16px;
}
/*font*/
html,body{
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    height: 100vh;
    display: block;
}
body{
    background: var(--Very_dark_blue_MBG);
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    
}
.button-container{
    margin: 30px;
    height: 50px;
    display: flex;
    align-content: center;
    justify-content: space-around;
}
.button{
    width: 150px;
    border-radius: 8px;
    border:2px solid currentColor;
    font-size: var(--name_and_stats_Font_size);
    font-weight: 600;
    color:white;
    background-color:var(--Very_dark_blue_L);
}
.button:hover{
    color:var(--White);
    background-color:var(--Very_dark_blue_CBG);
}
.button:disabled{
    opacity: 0.5;
}
.nftcard{
    border-radius: 8px;
    position: relative;
    width: 86%;
    margin: 0 auto;
    margin-top: 27px;
    margin-bottom: 27px;
    background-color: var(--Very_dark_blue_CBG);
    box-shadow: 0px 25px 3px 10px #0c1729,0px 25px 3px 40px #0c192c;
}
.nftcard1{
    height: 280px;
    position: relative;
    display: flex;
    justify-content: center;
}
.nftcard1 img{
    border-radius: 8PX;
    position: relative;
    bottom: -25px;
}
.img_top{
    opacity: 0;
    background-color:hsl(178, 100%, 50%);
    height: 280px;
    width: 280px;
    border-radius: 8px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: -25px;
}

.img_top:hover {
    opacity: 0.5;
}
.img_overlay{
    width: 285px;
    margin: 0 auto;
}
    
.box_text p:nth-child(1){
    height: 60px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    font-size: 22px;
    font-weight: 600;
    color: var(--White);
}
.box_text p:nth-child(1):hover{
    color: var(--cyan);
}
.box_text p:nth-child(2){
    font-size: var(--name_and_stats_Font_size);
    font-weight: 300;
    color: var(--Soft_blue);
    margin-bottom: 5px;
}
.box_text p:nth-child(3){
    font-size: var(--name_and_stats_Font_size);
    font-weight: 300;
    color: var(--Soft_blue);
    margin-top: 0;
}
.flex{
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 8px;
    border-bottom: 1px solid var(--Very_dark_blue_L);
    position: relative;
}
.etheriumm span{
    font-weight:400;
    color: var(--cyan);
    font-size: var(--name_and_stats_Font_size);
    text-align: end;
    position: relative;
    margin: 0px 0px 0px 5px ;
    bottom: 3px;
}
.dias span{
    font-weight:300;
    color: var(--Soft_blue);
    font-size: var(--name_and_stats_Font_size);
    text-align: end;
    position: relative;
    margin: 0px 0px 0px 5px ;
    bottom: 3px;
}
.autor{
    height: 35px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    margin: 20px 0 0 0;
    padding-bottom: 20px;
}
.autor img{
    border-radius: 50%;
    border: 1px solid white;
}
.autor p{
    font-size: var(--name_and_stats_Font_size);
    font-weight: 300;
    color: var(--Soft_blue);
    margin: auto 15px;
}
.autor span{
    color: var(--White);
    margin-left: 5px;
}
.autor span:hover{
    color: var(--cyan);
}